# {{ crate | replace("_", " ") | title }}

[![crates.io](https://img.shields.io/crates/v/{{ crate }}.svg)](https://crates.io/crates/{{ crate }})
[![docs.rs](https://docs.rs/{{ crate }}/badge.svg)](https://docs.rs/{{ crate }})
[![CI](https://github.com/schgoo/specgate/actions/workflows/ci.yml/badge.svg)](https://github.com/schgoo/specgate/actions/workflows/ci.yml)
[![License](https://img.shields.io/badge/license-MIT%20OR%20Apache--2.0-blue.svg)](../../LICENSE-MIT)

{{ readme }}

---

Part of the [SpecGate](https://github.com/schgoo/specgate) project.

{{ links }}
